<%= form_for @post do |f| %>
  <div class="form-group">
    <div>Title</div>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <div>Body</div>
    <%= f.rich_text_area :body, class: 'form-control customized-min-height', placeholder: "Enter your article body here..." %>
  </div>
  <div class="form-group">
    <div>Tags</div>
    <%= f.select :tag_ids, Tag.all.map{|t| [t.name, t.id] }, {}, :multiple => true %>
  </div>
  <%=f.submit %>
<% end %>