<h2>New Post</h2>
<%= form_for @post do |f| %>
  <div class="form-group">
    <div>Title</div>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
    <div>Body</div>
    <%= f.rich_text_area :body %>
  <div class="form-group">
    <div>Tags</div>
    <%= f.select :tag_ids, options_for_select(Tag.all.map{|t| [t.name, t.id] }), class: 'form-control' %>
  </div>
  <%=f.submit %>
<% end %>