<div class="container">
  <div class="text-center">
    <%= link_to root_path, class: 'no-decoration' do %>
      <%= image_tag 'logo.png', class: 'logo-image' %>
      <h3>
        The Grati Dev
      </h3>
    <% end %>
    <p>
      <%= link_to root_path, class: 'no-decoration' do %> A blog by <% end %> <%= link_to '@behraaang', TWITTER, class: 'with-decoration' %> about Ruby, Elixir, React etc.
    </p>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center main">
      <%= render @posts %>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

