<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="text-center">
        <%= link_to root_path, class: 'no-decoration' do %>
          <% is_root = controller_name == 'posts' && action_name == 'index' %>
          <%= image_tag 'logo.png', class: is_root ? 'logo-image' : 'logo-image-small' %>
          <h2 class="<%= is_root ? '' : 'small' %>">
            The Grati Dev
          </h2>
        <% end %>
      </div>
      <%= yield %>

      <div class="row text-center footer">
        <div>
          <%= t('footer.main') %>
        </div>
        <div>
          <%= t('footer.p') %>
        </div>
      </div>

    </div>
  </body>
</html>
